<%- include('header.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section>
                <div class="row mb-4">
                    <ul class="navbar-nav ms-auto d-flex flex-row">
                        <form
                            class="d-none d-md-flex input-group w-auto ms-auto align-items-center justify-content-center">
                            <input autocomplete="off" type="search" class="form-control rounded"
                                placeholder='Search category' style="min-width:500px" />
                            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                        </form>
                        <button class="btn btn-primary ms-auto d-flex flex-row">
                            Add new category
                        </button>
                    </ul>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="mb-2 text-muted">Chuyên mục</p>
                                    <button class="btn btn-primary btn-rounded ms-auto btn-edit"><i
                                            class="bi bi-pencil"></i></button>
                                </div>
                                <h5 class="card-title">Nông sản</h5>
                                <div class="pt-3 d-flex">
                                    <p>Chuyên mục con </p>
                                    <p class="ms-auto"> Total: 5</p>
                                </div>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Ca</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Thit</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Ngo</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Lua</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Ca phe</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="mb-2 text-muted">Chuyên mục</p>
                                    <button class="btn btn-primary btn-rounded ms-auto btn-edit"><i
                                            class="bi bi-pencil"></i></button>
                                </div>
                                <h5 class="card-title">Kinh doanh</h5>
                                <div class="pt-3 d-flex">
                                    <p>Chuyên mục con </p>
                                    <p class="ms-auto"> Total: 5</p>
                                </div>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bat dong
                                    san</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bitcoin</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hehe</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Haha</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hahaah</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="mb-2 text-muted">Chuyên mục</p>
                                    <button class="btn btn-primary btn-rounded ms-auto btn-edit"><i
                                            class="bi bi-pencil"></i></button>
                                </div>
                                <h5 class="card-title">Kinh doanh</h5>
                                <div class="pt-3 d-flex">
                                    <p>Chuyên mục con </p>
                                    <p class="ms-auto"> Total: 5</p>
                                </div>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bat dong
                                    san</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bitcoin</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hehe</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Haha</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hahaah</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="mb-2 text-muted">Chuyên mục</p>
                                    <button class="btn btn-primary btn-rounded ms-auto btn-edit"><i
                                            class="bi bi-pencil"></i></button>
                                </div>
                                <h5 class="card-title">Kinh doanh</h5>
                                <div class="pt-3 d-flex">
                                    <p>Chuyên mục con </p>
                                    <p class="ms-auto"> Total: 5</p>
                                </div>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bat dong
                                    san</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bitcoin</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hehe</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Haha</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hahaah</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="mb-2 text-muted">Chuyên mục</p>
                                    <button class="btn btn-primary btn-rounded ms-auto btn-edit"><i
                                            class="bi bi-pencil"></i></button>
                                </div>
                                <h5 class="card-title">Kinh doanh</h5>
                                <div class="pt-3 d-flex">
                                    <p>Chuyên mục con </p>
                                    <p class="ms-auto"> Total: 5</p>
                                </div>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bat dong
                                    san</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bitcoin</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hehe</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Haha</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hahaah</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="mb-2 text-muted">Chuyên mục</p>
                                    <button class="btn btn-primary btn-rounded ms-auto btn-edit"><i
                                            class="bi bi-pencil"></i></button>
                                </div>
                                <h5 class="card-title">Kinh doanh</h5>
                                <div class="pt-3 d-flex">
                                    <p>Chuyên mục con </p>
                                    <p class="ms-auto"> Total: 5</p>
                                </div>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bat dong
                                    san</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Bitcoin</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hehe</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">Haha</button>
                                <button type="button" class="btn btn-secondary btn-rounded me-2 my-2">hahaah</button>
                            </div>
                        </div>
                    </div>
            </section>
            <%- include('footer.ejs') %>