<%- include('header.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section class="mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title mt-2 mb-4">Editors</h3>
                        <ul class="navbar-nav d-flex flex-row justify-content-between">
                            <h5 id="user-total">Total: 0</h5>
                            <a href="/admin/add-editor" class="btn btn-primary">
                                Add new editor
                            </a>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-middle mb-0 bg-white  text-center">
                                <thead class="bg-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Category</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="user-list">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal fade" id="remove-modal" tabindex="-1" aria-labelledby="remove-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="new-modal-label">Remove editor</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="text-remove" class="text-center mb-0"></p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>
                        <button type="button" class="btn btn-outline-danger" onclick="removeEditor()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script defer>
        let targetUser = '';
        $('#remove-modal').on('show.bs.modal', function (event) {
            targetUser = event.relatedTarget;
            let username = $(targetUser).parents('tr').find('#row-username').text();
            $('#text-remove').html(`Are you sure to remove editor <b>${username}</b> ?`);
        })
        $(document).ready(function () {
            getUsers();
            changeUI();
        });

        function changeUI() {
            $('#user-total').text('Total: ' + $('#user-list tr').length);   
        }
        function getUsers() {
            $.ajax({
                url: '/api/user/editor',
                type: 'GET',
                success: function (data) {
                    data.forEach(user => {
                        $('#user-list').append(`<tr>
                                        <td>
                                            <p id="row-id" class="fw-normal mb-1">${user.id}</p>
                                        </td>
                                        <td>
                                            <p id="row-username" class="fw-bold mb-1">${user.full_name}</p>
                                        </td>
                                        <td>
                                            <p class="text-muted mb-0">${user.email}</p>
                                        </td>
                                        <td>
                                            <span class="badge badge-info rounded-pill d-inline text-capitalize">${user.role.category.name}</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm btn-rounded" onclick="location.href='/admin/editor/${user.id}'">
                                                Edit
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm btn-rounded" data-mdb-toggle="modal" data-mdb-target="#remove-modal"> 
                                                Remove
                                            </button>
                                        </td>
                                    </tr>`);
                    });
                    changeUI();
                }
            });
        }

        function removeEditor() {
            $.ajax({
                url: '/api/user/' + $(targetUser).parents('tr').find('#row-id').text(),
                type: 'DELETE',
                success: function (data) {
                    $(targetUser).parents('tr').remove();
                    $('#remove-modal').modal('hide');
                    changeUI();
                }
            });
        }
    </script>
    <%- include('footer.ejs') %>