<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script>
    function signOut() {
        document.cookie = 'access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.href = '/';
    }
    let path = window.location.pathname.substring(7);
    if (path.lastIndexOf('/') !== -1) {
        path = path.substring(0, path.lastIndexOf('/'));
    }
    if (path.indexOf('-') !== -1) {
        path = path.substring(path.indexOf('-') + 1, path.length);
    }
    if ($(`.active-${path}`).length > 0) {
        $(`.active-${path}`).addClass('active');
    }
    else {
        $(`#dashboard`).addClass('active');
    }
</script>
</body>

</html>