<%- include('header.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section>
                <div class="row">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex mt-2 align-items-center justify-content-between">
                                    <h5 class="card-title">Thông tin tài khoản</h5>
                                    <button class="btn btn-primary btn-rounded ms-auto btn-edit"
                                        onclick="location.href='/admin/edit-profile'"><i
                                            class="bi bi-pencil"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mt-2 mb-2 d-flex flex-column align-items-center justify-content-center">
                                    <div
                                        class="d-flex w-50 align-items-center justify-content-center mb-2 mt-2">
                                        <span class="attribute-form"><b>Lacainews ID:</b></span>
                                        <input type="text" class="form-control" id="LacainewsID" disabled>
                                    </div>
                                    <div
                                        class="d-flex w-50 align-items-center justify-content-center mb-2 mt-2">
                                        <span class="attribute-form"><b>Họ tên:</b></span>
                                        <input type="text" class="form-control" id="name" disabled>
                                    </div>

                                    <div
                                        class="d-flex w-50 align-items-center justify-content-center mb-2 mt-2">
                                        <span class="attribute-form"><b>Email liên lạc:</b></span>
                                        <input type="email" class="form-control" id="email" disabled>
                                    </div>
                                    <div
                                        class="d-flex w-50 align-items-center justify-content-center mb-2 mt-2">
                                        <span class="attribute-form"><b>Ngày tháng năm sinh:</b></span>
                                        <input type="text" class="form-control" id="dateOfBirth" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

    </main>
    <script defer>
        $(document).ready(function () {
            $.ajax({
                url: '/api/user/current',
                type: 'GET',
                success: function (data) {
                    $('#LacainewsID').val(data.id);
                    $('#name').val(data.full_name);
                    $('#email').val(data.email);
                    
                    $('#dateOfBirth').val(moment(new Date(data.birthday)).format('DD/MM/YYYY'));
                }
            });
        });
    </script>
    <%- include('footer.ejs') %>