<footer>
    <div id="Container_footer">
        <div id="CategoryList">
            <% for( let category of footer["catList"] ) { %>
                <ul id="Category">
                    <li><a href="/category/<%= category.id %>/0">
                            <%= category.name %>
                        </a></li>
                    <% for( let sub_category of category.children ) { %>
                        <li><a href="/category/<%= sub_category.id %>/0">
                            <%= sub_category.name %></a></li>
                    <% } %>
                </ul>
                <% } %>
        </div>
        <hr>
        <div id="LogoTrademark">
            <p style="font-size: 24px;">
                Lacainews&trade;
            </p>
            <p style="font-size: 14px;">
                &copy; 2023 Lacainews Corporation Inc. All rights reserved.
            </p>
        </div>
    </div>
</footer>