<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Premium</title>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/asset/css/pricing_style.css">
</head>

<body>
    <main>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center mt-2">
                <img src="/asset/image/Logo.png" id="Logo" alt="LOGO" />
            </div>
            <h1 class="text-center pricing-table-title mt-4">Premium Subscription</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card pricing-card pricing-plan-1day">
                        <div class="card-body">
                            <i class="mdi mdi-cube-outline pricing-plan-icon"></i>
                            <p class="pricing-plan-title">1 day</p>
                            <h3 class="pricing-plan-cost ml-auto">10$</h3>
                            <ul class="pricing-plan-features">
                                <li>Premium articles</li>
                                <li>Download features</li>
                                <li>Faster loading</li>
                            </ul>
                            <a href="client/0" class="btn pricing-plan-purchase-btn">Purchase</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card pricing-card pricing-card-highlighted  pricing-plan-7day">
                        <div class="card-body">
                            <i class="mdi mdi-trophy pricing-plan-icon"></i>
                            <p class="pricing-plan-title">7 days</p>
                            <h3 class="pricing-plan-cost ml-auto">$49</h3>
                            <ul class="pricing-plan-features">
                                <li>Premium articles</li>
                                <li>Download features</li>
                                <li>Faster loading</li>
                            </ul>
                            <a href="client/1" class="btn pricing-plan-purchase-btn">Purchase</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card pricing-card pricing-plan-30day">
                        <div class="card-body">
                            <i class="mdi mdi-wallet-giftcard pricing-plan-icon"></i>
                            <p class="pricing-plan-title">30 days</p>
                            <h3 class="pricing-plan-cost ml-auto">$99</h3>
                            <ul class="pricing-plan-features">
                                <li>Premium articles</li>
                                <li>Download features</li>
                                <li>Faster loading</li>
                            </ul>
                            <a href="client/2" class="btn pricing-plan-purchase-btn">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>