<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/asset/css/header.css" rel="stylesheet">
  <link href="/asset/css/footer.css" rel="stylesheet">
  <link href="/asset/css/profile.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <%- include('partials/header.ejs', {header}) %>
  <main>
    <%- include('index_resource/profile_form.ejs', {title: "Thay đổi thông tin tài khoản", data: profile_form, is_updated: true}) %>
    <div class="mt-5 mb-5 d-flex flex-column align-items-center justify-content-center">
      <div id="error-text" class="d-flex mb-2 flex-row text-danger">
      </div>
      <div id="success-text" class="d-flex mb-2 flex-row text-success">
      </div>
      <button type="button" class="btn btn-primary" onclick="updateProfile()">Save</button>
    </div>
  </main>
  <%- include('partials/footer.ejs', {footer}) %>
</body>

<script>
  async function updateProfile() { 
      const fullname = document.getElementById('name').value.trim();
      const birthday = document.getElementById('birthday').value.trim();
      const email = document.getElementById('email').value.trim();
      const errorTextDiv = document.querySelector("#error-text");
      const successTextDiv = document.querySelector("#success-text");

      const data = {
          fullname: fullname, 
          birthday: birthday, 
      }

      console.log(data);

      $.ajax({
          url: '/edit-profile',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: async function (response) {
              successTextDiv.textContent = 'Change profile successfully!';
              errorTextDiv.textContent = ''; 
          },
          error: function (error) {
              successTextDiv.textContent = 'Some error from database';
              errorTextDiv.textContent = ''; 
          }
      });
  }
</script>
</html>
