body {
    background-color: #f0f2f5;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 220px;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: calc(0.5625rem + 67.6px) 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 220px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    color: #1890ff;
}

.active {
    color: #1890ff;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-group-item {
    border: none;
}

.btn-edit {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    border-radius: 20px;
}

.editor {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
}

.editor-container { 
    padding: 100px 200px; 
}

.post-tag { 
    background-color: #F65050;
    padding: 3px; 
    border-radius: 5px;
    color: #fff;
    margin-right: 5px; 
}

.edit-post-tag { 
    padding: 5px; 
    background-color: #FF8A00;
    color: white;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-reject {
    font-size: 8px;
    color: #ff4d4f;
}

.circle-approved {
    font-size: 8px;
    color: #52c41a;
}

.circle-pending {
    font-size: 8px;
    color: #d9d9d9;
}

.circle-published {
    font-size: 8px;
    color: #1890ff;
}

.circle-review {
    font-size: 8px;
    color: #FFC107;
}

.profile-title { 
    font-weight: bold !important; 
    margin-top: 15px !important; 
    padding-left: 20px !important;
}

.attribute-form { 
    min-width: 200px !important; 
    text-align: right !important;
    margin-right: 10px !important; 
}

.form-control:disabled {
    background-color: #ffffff !important;
}

.btn-article-status{
    padding: 5px 15px; 
    border: 2px solid black; 
    border-radius: 15px; 
    background-color: #ECEEF1; 
    border-color: #E1E1E1; 
    color: #686868;
}

.btn-article-status.active{
    padding: 5px 15px; 
    border: 2px solid black; 
    border-radius: 15px; 
    background-color: #DBE9FB; 
    border-color: #5499F1; 
    color: #1258B4;
}

.ql-editor .td-video {
    display: block;
    max-width: 100%;
    width: 100%; /* Set the width to 100% */
    height: 0; /* Set the initial height to 0 */
    padding-bottom: 56.25%; /* Maintain aspect ratio for 16:9 videos */
    position: relative;
}

.ql-editor .td-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Make the iframe fill the container */
}
  
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  