    <%- include('header.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section>
                <div class="row">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h5 class="card-title">Thay đổi mật khẩu</h5>
                                </div>
                                <div class="mt-5 mb-5 d-flex flex-column align-items-center justify-content-center">
                                    <div
                                        class="form-outline d-flex w-50 align-items-center justify-content-center mb-2 mt-2">
                                        <span class="attribute-form">New password: </span>
                                        <input type="password" class="form-control" id="new-password" placeholder="">
                                    </div>

                                    <div
                                        class="form-outline d-flex w-50 align-items-center justify-content-center mb-2 mt-2">
                                        <span class="attribute-form">Retype password:</span>
                                        <input type="password" class="form-control" id="retype-password" placeholder="">
                                    </div>

                                    <button type="button" class="btn btn-primary mt-3 mb-3" onclick="updatePassword()">Save</button>
                                    <div id="error-text" class="d-flex mb-2 flex-row text-danger">
                                    </div>

                                    <div id="success-text" class="d-flex mb-2 flex-row text-success">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="/asset/js/authenticate.js"></script>
    <%- include('footer.ejs') %>