<%- include('header.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section>
                <div class="row mb-4">
                    <ul class="navbar-nav ms-auto d-flex flex-row">
                        <form class="d-none d-md-flex input-group w-auto ms-auto me-auto">
                            <input autocomplete="off" type="search" class="form-control rounded"
                                placeholder='Search article' style="min-width:500px" />
                            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                        </form>
                    </ul>
                </div>
            </section>
            <div id="article-status-group" class="mb-3">
                <button type="button" class="btn-article-status active" onclick="setStatusFilter(this)">
                    <i class="bi bi-check2 mr-1"></i>
                    Draft
                </button>
                <button type="button" class="btn-article-status active" onclick="setStatusFilter(this)">
                    <i class="bi bi-check2 mr-1"></i>
                    Rejected
                </button>
                <button type="button" class="btn-article-status active" onclick="setStatusFilter(this)">
                    <i class="bi bi-check2 mr-1"></i>
                    Published
                </button>
                <button type="button" class="btn-article-status active btn-secondary ml-2" onclick="filterArticles()">
                    <i class="bi bi-funnel mr-1"></i>
                    Submit Filter
                </button>
            </div>
            <section class="d-flex flex-column">
                <div class="row" id="articles-wrapper">
                    <%- include('articles.ejs', {"articles": articles}) %>
                </div>
                <button id="btn-load-article" type="button" class="btn btn-primary mb-3 align-self-center" style="width: fit-content;" onclick="loadArticles()">Xem thêm</button>
            </section>

            <script>
                var previousStatus = ['draft', 'rejected', 'published']

                function setStatusFilter(button) { 
                    const isActived = button.classList.contains("active");
                    if (isActived) { 
                        button.classList.remove("active");
                        button.getElementsByTagName('i')[0].classList.add("d-none"); 
                    } else { 
                        button.classList.add("active");
                        button.getElementsByTagName('i')[0].classList.remove("d-none"); 
                    }
                }

                async function filterArticles() { 
                    let status = document.getElementsByClassName('btn-article-status active') 
                    status = Array.from(status); 
                    status.pop()
                    status = status.map(item => item.textContent.trim().toLowerCase())

                    if (status == previousStatus) { 
                        return; 
                    }

                    previousStatus = status; 

                    const jsonData = { 
                        "status": status, 
                        "num_start_article": 0, 
                    }

                    $.ajax({
                        url: '/writer/load-article',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(jsonData),
                        success: async function (response) {
                            const btn = document.getElementById('btn-load-article'); 
                            if (btn.classList.contains('d-none')) 
                                btn.classList.remove('d-none');
                            console.log(response)
                            const articlesWrapper = document.getElementById('articles-wrapper'); 
                            articlesWrapper.innerHTML = response
                        },
                        error: function (error) {
                        }
                    });
                }

                async function loadArticles() { 
                    let status = document.getElementsByClassName('btn-article-status active') 
                    status = Array.from(status); 
                    status.pop()
                    status = status.map(item => item.textContent.trim().toLowerCase())
                    
                    const numArticles = document.getElementsByClassName('col-xl-4 col-sm-8 col-12 mb-4').length; 
                    
                    const jsonData = { 
                        "status": status, 
                        "num_start_article": numArticles, 
                    }

                    $.ajax({
                        url: '/writer/load-article',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(jsonData),
                        success: async function (response) {
                            if (response == '') { 
                                const btn = document.getElementById('btn-load-article'); 
                                btn.classList.add('d-none');
                            } else { 
                                console.log(response)
                                const articlesWrapper = document.getElementById('articles-wrapper'); 
                                articlesWrapper.innerHTML += response
                            }
                        },
                        error: function (error) {
                        }
                    });
                }
            </script>
    </main>
    <%- include('footer.ejs') %>