<div id="ContentCategory">
    Kinh doanh
</div>
<img src="https://picsum.photos/1280/400" alt="Image" id="BigImage" />
<div id="pad">
    <div id="ContentContainer">
        <div id="ContentHeader">
            <div id="ContentTitle">
                Furor Over Chinese Spy Balloon Leads to a Diplomatic Crisis
            </div>
            <div id="OtherInfo">
                <div id="DateTag">
                    <div style="font-size: 10px; color: #1a1a1ac0">
                        03/04/2023
                    </div>
                    <div>
                        #Khac
                    </div>
                </div>
                <div>
                    <svg style="height:20px; width: 20px;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z" />
                    </svg>
                    <svg style="height: 20px; width: 20px; display:none;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM376.9 294.6L269.8 394.5c-3.8 3.5-8.7 5.5-13.8 5.5s-10.1-2-13.8-5.5L135.1 294.6c-4.5-4.2-7.1-10.1-7.1-16.3c0-12.3 10-22.3 22.3-22.3l57.7 0 0-96c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 96 57.7 0c12.3 0 22.3 10 22.3 22.3c0 6.2-2.6 12.1-7.1 16.3z" />
                    </svg>
                </div>
            </div>
        </div>
        <hr>
        <div id="Content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae hic cumque in rerum? Sed
                facilis velit labore rerum quibusdam praesentium. Neque, maxime laborum! Cupiditate fugit perferendis
                obcaecati cumque voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae hic cumque in rerum? Sed
                facilis velit labore rerum quibusdam praesentium. Neque, maxime laborum! Cupiditate fugit perferendis
                obcaecati cumque voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae hic cumque in rerum? Sed
                facilis velit labore rerum quibusdam praesentium. Neque, maxime laborum! Cupiditate fugit perferendis
                obcaecati cumque voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae hic cumque in rerum? Sed
                facilis velit labore rerum quibusdam praesentium. Neque, maxime laborum! Cupiditate fugit perferendis
                obcaecati cumque voluptatum?</p>

            <img class="center" src="https://picsum.photos/800/400" alt="Image" />
            <p class="chuthich">Lorem ipsum dolor sit amet consectetur</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae hic cumque in rerum? Sed
                facilis velit labore rerum quibusdam praesentium. Neque, maxime laborum! Cupiditate fugit perferendis
                obcaecati cumque voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae hic cumque in rerum? Sed
                facilis velit labore rerum quibusdam praesentium. Neque, maxime laborum! Cupiditate fugit perferendis
                obcaecati cumque voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae hic cumque in rerum? Sed
                facilis velit labore rerum quibusdam praesentium. Neque, maxime laborum! Cupiditate fugit perferendis
                obcaecati cumque voluptatum?</p>

        </div>
    </div>

    <div id="TuongTu">
        <div>
            <div>
                Cung chuyen muc
            </div>
            <div id="divider">
            </div>
        </div>
        <div id="GridType1">
            <!-- Dien thong tin tai day -->
        </div>
    </div>
</div>